body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	width: 1561px;
	height: 1109px;
	position: relative;
	margin: auto;
	font-size: 13px;
	padding: 39px 47px 20px 44px;
	line-height: 1;
}
*{
	box-sizing: border-box;
}
div,p,a,table,ul,li, h1{
	padding: 0;
	margin: 0;
}
p{
	display: block;
}

.header__w{
	display: flex;
	align-items: end;
}

.header__title{
	text-align: right;
	font-size: 11px;
	margin-bottom: 15px;
}
.header-el{
	display: flex;
	justify-content: space-between;
	height: 38px;
	padding-top: 6px;
}
/* Можно закомментить, если не будет более 2-х строк текста */
.header__left .header-el{
	min-height: 38px;
	height: auto;
	align-items: center;
}
/*  */
.header-el__title{
	width: 143px;
	height: 100%;
	padding-right: 2px;
}
.header-el__text{
	width: 1327px;
	height: 100%;
	border-bottom: 1px solid #000;
	padding-bottom: 3px;
}
.header__w .header-el__text{
	width: 985px;
}
.header__right{
	width: 342px;
	text-align: right;
}
.header__right .header-el{
	padding: 0;
}
.header__right .header-el__title{
	width: 202px;
	padding: 3px 5px 0;
	display: block;
}
.header__right .header-el__text{
	width: 130px;
	border: 1px solid #000;
	border-block-start: none;
	text-align: center;
	padding-top: 6px;
}
.header-el__text.header-el__text_code{
	border: none;
	border-bottom: 1px solid #000;
}
.header-el__main{
	height: 23px;
}

.invoice{
	display: flex;
	align-items: end;
}
.invoice__title{
	width: 288px;
	height: 90px;
	padding: 38px 24px 11px 0;
	font-size: 22px;
}
.invoice__table{
	margin-left: auto;
	border-collapse: collapse;
	table-layout: fixed;
	text-align: center;
	height: fit-content;
}
.invoice__table td{
	border: 1px solid #000;
	padding: 8px 0 6px;
	width: 246px;
	height: 30%;
}
.invoice__text{
	font-size: 14px;
	width: 186px;
}
.invoice__w{
	width: 527px;
	display: flex;
	align-items: center;
	margin-left: 42px;
}
.invoice__ws{
	width: 340px;
	height: 90px;
	text-align: right;
	border-collapse: collapse;
}
.invoice__ws td{
	border: 1px solid #000;
	padding: 2px 6px 6px 0;
}
.invoice-el__title{
	width: 211px;
	height: 32px;
}
.invoice__ws tr:first-of-type td{
	border-top: none;
}
.invoice__ws tr:last-of-type td:first-of-type{
	border: none;
}

.tab table{
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}
.tab__item{
	border: 1px solid #000;
	height: 20px;
	text-align: center;
	padding: 7px 1px 6px;
}
.tab__item_l{
	padding-left: 12px;
	text-align-last: left;
}
.tab__item_r{
	padding-right: 12px;
	text-align: right;
}
.tab tr:last-of-type td:first-of-type{
	border: none;
}
.cont{
	margin-top: 18px;
}
.cont-el{
	display: flex;
	align-items: center;
}
.cont p{
	display: flex;
	align-items: flex-end;
}
.cont span, .end span, .footer span{
	height: 1px;
	border-bottom: 1px solid #000;
	margin: 0 4px;
	margin-bottom: 4px;
	padding-bottom: 12px;
}
.cont-el__span:first-of-type{
	width: 558px;
}
.cont-el__span:last-of-type{
	width: 80px;
	text-align: center;
}
.cont-wf{
	margin-top: 7px;
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.cont-wf__text{
	margin-top: 12px;
	display: flex;
	align-items: center;
}
.cont-wf__text span{
	width: 558px;
}
::before{
	font-size: 8px;
}
.span-registration, .span-post, .span-decoding, .span-{
	display: flex;
	justify-content: center;
}
span::before{
	margin-top: 14px;
}
.span-registration::before{
	content: '(прописью)';
}
.span-post::before{
	content: '(должность)';
}
.span-decoding::before{
	content: '(расшифровка подписи)';
}
.cont-wf__el{
	width: 692px;
}
.cont-wf__el p{
	justify-content: space-between;
}
.cont-wf__el div{
	display: flex;
	align-items: end;
}
.cont-wf__el span{
	margin: 0 0 7px 0;
}
.cont-wf__el .span-registration::after{
	content: '';
	border: 1px solid #000;
	width: 210px;
	height: 28px;
	position: absolute;
	bottom: -1px;
	left: 311px;
}
.cont-wf__el .span-registration::before{
	margin-top: 28px;
}
.cont-wf__el .span-registration{
	position: relative;
	width: 312px;
	height: 28px;
	margin-left: 42px;
	margin-right: 210px;
}
.end{
	display: flex;
	margin-top: 15px;
}
.end-l, .end-r{
	width: 50%;
	padding-bottom: 30px;
}
.end-l{
	border-right: 1px solid #000;
	padding-right: 13px;
}
.end-r{
	padding-left: 15px;
}
.end p{
	display: flex;
	align-items: end;
	margin-top: 15px;
}
.end p:first-of-type{
	margin-top: 1px;
}
.end span{
	height: 1px;
	border-bottom: 1px solid #000;
	margin: 0 4px;
	margin-bottom: 4px;
	padding-bottom: 12px;
	text-align: center;
}
.end-l p{
	margin-bottom: 8px;
}
.end-l__f span{
	 width: 350px;
}
.end-l__s span:first-of-type{
	 min-width: 178px;
}
.end-l__s span:last-of-type{
	 width: 34px;
}
.end-l__th span{
	 min-width: 158px;
	 max-width: 190px;
}
.end-l__frth span, .end-l__fv span, .end-r__from span{
	 min-width: 144px;
	 max-width: 201px;
}
.end-r__num{
	width: 140px;
}
span.span__day{
	width: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-left: 8px;
	margin-right: 6px;
}
.span__day::before{
	content: '«';
	position: absolute;
	bottom: -5px;
	left: -8px;
	font-size: 13px;
}
.span__day::after{
	content: '»';
	font-size: 13px;
	bottom: -5px;
	position: absolute;
	right: -8px;
}
span.span__mounths{
	width: 160px;
	margin-right: 0;
}
span.span__years{
	margin-right: 6px;
	width: 42px;
}
span.end-r__who{
	width: 570px;
	margin-left: 8px;
}
span.end-r__line{
	width: 100%;
	display: block;
	margin-right: 0;
	margin-left: 0;
	margin-top: 10px;
}
.end-r__from .span-registration, .end-l__th .span-registration, .end-l__frth .span-registration, .end-l__fv .span-registration{
	margin-left: auto;
}
.footer{
	padding-top: 10px;
	height: 98px;
	display: flex;
	flex-direction: column;
}
.footer__w{
	display: flex;
}
.footer-r, .footer-l{
	width: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
}
.footer .span__day{
	margin-left: 140px;
}
.footer p{
	display: flex;
}
.footer__end{
	margin-top: auto;
	display: block;
}